In [1]:
import pandas as pd

In [3]:
dataset = pd.read_csv("training-kendaraan.csv")

In [4]:
dataset

     Cuaca Kepadatan Kendaraan
0    Cerah    Lancar     Motor
1    Cerah     Padat     Motor
2    Cerah     Macet     Motor
3    Panas     Macet     Mobil
4  Berawan    Lancar     Motor
5    Hujan    Lancar     Mobil
6    Hujan     Padat     Mobil
7    Hujan     Macet     Mobil

In [5]:
x = dataset.iloc[:,0]
y = dataset.iloc[:,1]
z = dataset.iloc[:,2]

In [6]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()

In [7]:
cuaca     = le.fit_transform(x)
kepadatan = le.fit_transform(y)
kendaraan = z

kode_cuaca = list(dict.fromkeys(cuaca))
nama_cuaca = list(dict.fromkeys(x))

for i in kode_cuaca:
  print(kode_cuaca[i]," = ",nama_cuaca[i])

print("------------")

kode_kepadatan = list(dict.fromkeys(kepadatan))
nama_kepadatan = list(dict.fromkeys(y))

for i in kode_kepadatan:
  print(kode_kepadatan[i]," = ",nama_kepadatan[i])

3  =  Panas
2  =  Hujan
1  =  Cerah
0  =  Berawan
------------
0  =  Lancar
1  =  Macet
2  =  Padat

In [8]:
features=list(zip(cuaca,kepadatan))
features

[(1, 0), (1, 2), (1, 1), (3, 1), (0, 0), (2, 0), (2, 2), (2, 1)]

In [9]:
from sklearn.neighbors import KNeighborsClassifier

knn = KNeighborsClassifier(n_neighbors=3)
knn.fit(features,kendaraan)

KNeighborsClassifier(n_neighbors=3)

In [10]:
for i in kode_cuaca:
  print(kode_cuaca[i]," = ",nama_cuaca[i])

a = int(input("Masukan Keadaan Cuaca = "))

print("-----------------")

for i in kode_kepadatan:
  print(kode_kepadatan[i]," = ",nama_kepadatan[i])
b = int(input("Masukan Kepadatan Jalan = "))

predicted= knn.predict([[a,b]])
print("-----------------")
print("Anda Sebaiknya Menggunakan", predicted, " Untuk Pergi ke Kantor Hari ini.")

3  =  Panas
2  =  Hujan
1  =  Cerah
0  =  Berawan
Masukan Keadaan Cuaca = 0
-----------------
0  =  Lancar
1  =  Macet
2  =  Padat
Masukan Kepadatan Jalan = 0
-----------------
Anda Sebaiknya Menggunakan ['Motor']  Untuk Pergi ke Kantor Hari ini.